.parent{
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 20px;
    /* justify x axsis */
    
    /*justify-content: center;
    justify-self: start;
    justify-content: end;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    height: 350px;*/
    align-items: center;
    /*align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
    flex-wrap: wrap;
    /*flex-wrap: nowrap;*/
}
.child{
    border: 2px solid rgb(15, 158, 160);
    background:rgb(178,228, 229);
    padding: 20px;
    font-size: 28px;
    margin: 10px, 0;
    width: 100px;
}